/* Global Header */
.global-header {
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  fill: var(--white);
}

.global-header a {
  color: var(--white);
}

.global-header .icon {
  width: 20px;
  height: 20px;
}

.global-header__right {
  display: flex;
  align-items: center;
}

.global-header__right .search-icon {
  padding: 0 1rem;
  margin-top: 6px;
}

.global-header__right button {
  background: none;
  border: none;
  color: var(--white);
  padding: 1.2em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border-left: 1px solid var(--grey-dark);
}

/* Hero Banner */
.hero-banner {
  display: grid;
}

.hero-banner > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  grid-column: 1;
  grid-row: 1 / 3;
}

.hero-banner__content {
  background: rgba(0, 0, 0, 0.7);
  color: var(--white);
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 1em;
}

.hero-banner__title {
  font-size: 1.8em;
}

.hero-banner__subtitle {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}
    